/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Rubik:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Poppins", sans-serif;
  --sec-font: "Figtree", sans-serif;
  --base-font-size: 16px;
  --default-width: 100%;
   --join-color: #eff1f2;
  --font-color: #173768;
  --font-header-color: #4b4c50;
  --background: #fff;
  --who-pg-color-one: #252525;
  --who-pg-color-two: #666;
  --line: #ededed;
  --large-font-size: 55px;
  --began-pg: #252525;
  --epic-line: #f8f7fe;
  /* --frame-word:#6DC7EB; */

  --headboard: #3d29a1;
  --began-bg: #f5f5f5;
  --h3-color: #252525;
  --epic-frame-color: #252525;
  --began-linear: linear-gradient(0deg,
      rgba(237, 160, 168, 0.3) 0%,
      rgba(237, 160, 168, 0.3) 100%),
    #fff;
  --light-inverted-color-background: #323338;
  --linear-gradient: linear-gradient(0deg, #6547f7 0%, #6547f7 100%), #fff;
}

body {
  width: var(--default-width);
  background: var(--background);
  font-family: var(--main-font);
  margin: 0 auto;
}

html {
  font-size: 16px;
}

/* header */

header {
  /* position: fixed; */
  background: white;
  z-index: 100;

  /* display: flex; */
  /* padding: 30px 200px; */
  width: 100%;
  /* flex-direction: column;
  align-items: flex-start; */
  /* margin-bottom: 10px; */
}

nav {
  display: flex;
  padding: 26px 80px 16px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
  /* padding-left: 294px; */
  text-align: right;
  gap: 32px;
  list-style-type: none;
  cursor: pointer;
}

.zepic-logo {
  margin-top: -10px;
  max-width: 150px;
}



.nav-item span {
  position: relative;
  bottom: 2px;
  display: inline-flex;
  /* width: 176px; */
  max-width: 180px;
  min-height: 45px;
  padding: 8px 24px;
  /* padding: 12px 16px; */
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--join-color);
  color: var(--font-color);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2px;
}


.nav-item {
  min-height: 30px;
}


.nav-item span:hover {
  background: #6547f7;
  color: var(--background);
}

/*.nav-item img:hover{
  filter: opacity(0.5) drop-shadow(0 0 0 white);
} */

.nav-item a {
  padding: 8px 0;
  color: var(--font-color);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: 500;

  /* display: inline-block; */
  line-height: normal;
  text-decoration: none;
  /* transition: border-bottom 0.3s; */
}



.nav-item a::after {
  transition: all 1000ms;
}

.nav-item a:hover {
  color: #6547F7;
  /* box-shadow: inset 0 -3px #146ef5; */

}




.nav-item a:hover::after {
  /* box-shadow: inset 0 -3px #146ef5; */
  content: "";
  height: 3px;
  color: #6547F7;
  position: relative;
  top: 7px;
  background: #6547F7;
  border-radius: 8px;
  display: block;
  /* color: #6547F7; 
  border-radius: 7px;
  border-bottom: 4px solid #6547F7;
  text-underline-offset: 7px;
  text-decoration: underline;
  text-decoration-thickness: 4px; */
}




/* .nav-item a:focus {
  color: #6547f7;
  border-radius: 7px; */

/* box-shadow: 0 55px 0 0 #000; */
/* border-bottom: 2px solid #6547F7;
  text-underline-offset: 7px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
} */

/* header section */

.header-section {
  width: 100%;
  /* position: relative;
  top: 89px; */
  /* padding-left: 200px; */
  /* background-color: #323338; */
}

.header-content {
  height:568px; 
   width:100vw;
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url('images/Frame-26080369.jpg');  
}

.header-content img {
  /* max-width: 1440px; */
  top: 90px;

  background-size: cover; 
  background-position: center;
  position: relative;

}


.header-div{
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 250px;
}


.header-pg {
  font-size: 42px;
  line-height: 56px;
  color: var(--background);
  /* font-size: 55px; */
  /* position: absolute;
  left: 210px;
  top: 350px; */
  max-width: 650px;
  font-style: normal;
  /* font-weight: 800; */
  font-weight: 700;
  /* line-height: 72px; */
}

.header-pg span {
  /* color: #FFF;
  font-family: Poppins; */
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 72px;
}




/* 
.header-content span {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  z-index: 1;
} */

/* .pg-one {
  color: var(--light-inverted-color-background);
  font-size: var(--large-font-size);
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  width: 500px;
} */

.pg-one {
  margin-top: 140px;
  max-width: 417px;
  color: var(--light-inverted-color-background);
  font-style: normal;
  /* color: #173768; */
  font-size: 42px;
  line-height: 56px;
}

.pg-two {
  color: var(--font-header-color);
  /* font-size: 1.75rem; */
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  max-width: 314px;
  line-height: normal;
  align-self: stretch;
}

/* .header-content img {
  /* position: relative; */
/* right: 140px; 
} */

/* join */

.join-section {
  display: flex;
  width: 100%;
  padding: 42px 0;
  /* padding: 42px 200px; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* top: 84px; */
  background: var(--linear-gradient);
  margin-bottom: 120px;
}

.join-team {
  display: flex;
  max-width: 1040px;
  /* margin-left: 210px; */
  margin: 0 auto;
  /* margin-left: auto; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.join-team span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 278px;

}

.join-line {
  height: 2px;
  margin: 10px 0;
  align-self: stretch;
  opacity: 0.1;
  background: var(--background);
}

.team-one {
  color: var(--background);
  /* font-size: 1.5rem; */
  /* font-size: 25px; */
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 37px;
}

.team-two {
  align-self: stretch;
  color: var(--background);
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
  max-width: 490px;
  /* font-size: var(--base-font-size); */
  font-style: normal;
  font-weight: 400;
  /* line-height: 32px; */
  /* max-width: 664px; */
  font-size: 18px;
  /* font-size: 18px; */
  line-height: 37px;
  /* 200% */
}

.waitlist {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 210px; */
  gap: 8px;
  color: var(--background);
  font-size: 24px;
  transition: 400ms;
  font-style: normal;
  font-weight: 500;
  padding: 13px 20px 13px 20px;
  /* width: 283px; */
  line-height: normal;
  background: #6547F7;
  /* height: 62px; */
  flex-shrink: 0;
  border-radius: 6px;
  border: 2px solid #FFF;
}


.waitlist:hover {
  border-color: var(--background);
  color: white;
  background: #593ce7;
  box-shadow: 0 0.5em 0.5em -0.4em var(--background);
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* .waitlist {
    display: flex;
    max-width: 330px;
    padding-right: 80px; */
/* margin-right: auto; */
/* justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #6547f7;
  }

  .waitlist {
    color: var(--background);
    font-family: Poppins;
    font-size: 24px; */
/* font-size: 25px; */
/* line-height: 37px;
    font-weight: 600;
    font-style: normal;
  } */

/* .waitlist a {
    color: var(--background);
    font-family: Poppins; */
/* font-size: 24px; */
/* font-size: 25px;
    line-height: 37px;
    font-weight: 600;
    font-style: normal; */
/* font-weight: 500; */
/* line-height: normal; */
/* } */

/* whosection */

.who-section {
  display: flex;
  width: 100%;
  /* padding: 0 200px; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 120px;
}


.who-margin {
  margin: 0 auto;
  max-width: 1040px;
}

.who-word {
  max-width: 1440px;
  color: var(--light-inverted-color-background);
  /* font-size: 2.625rem; */
  /* padding-left: 80px;
  padding-right: 80px; */
  /* padding: 0 210px; */
  font-style: normal;
  /* font-weight: 800;
  line-height: normal; */
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
}

.company-logo {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
  /* align-self: stretch;
  padding: 0 210px; */
  /* padding-left: 80px;
  padding-right: 80px; */
}

.logos {
  display: flex;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--base-font-size);
  background: var(--background);
}

.logos img {
  max-width: 1018px;
  /* max-width: 1280px; */
}

.zepic {
  display: flex;
  align-items: center;
  gap: 48px;
}

.who-pg {
  display: flex;
  /* padding-left: 80px;
  padding-right: 80px; */
  justify-content: center;
  align-items: center;
  gap: 124px;
  align-self: stretch;
}

.who-pg-one {

  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
  color: var(--who-pg-color-one);
  /* font-size: 1.25rem; */
  font-style: normal;
  font-weight: 400;
  max-width: 560px;
  /* line-height: 32px; */
}

.who-pg-two {
  max-width: 345px;
  color: var(--who-pg-color-two);
  font-size: 1.438rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.span {
  font-weight: 600;
}

.line {
  margin-bottom: 32px;
  height: 2px;
  background: var(--line);
}

/* began-section */

.began-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  background: var(--began-bg);
}

.began-content {
  display: flex;
  padding: 64px 210px 218px 210px;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  /* margin-bottom: -154px; */

}

.began-word {
  color: var(--light-inverted-color-background);
  /* font-size: 2.625rem; */
  font-style: normal;
  /* font-weight: 800;
  line-height: 72px; */
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
}

.began-pg {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  gap: 32px;
}

.began-pg p {
  color: var(--began-pg);
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
}

/* .began-pg p span {
 width: 1040px !important;
} */

.began-pg a {
  color: var(--began-pg);
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
}

.began-pg a:hover {
  color: #6547f7;
}

.began-want {
  display: flex;
  padding: 40px 64px;
  align-items: center;
  gap: 16px;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  bottom: 154px;
  border-radius: 24px;
  border: 8px solid var(--background);
  background: var(--began-linear);
}

.began-want .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: var(--h3-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  /* font-size: 2rem; */
  font-style: normal;
  /* font-weight: 600; */
  max-width: 434px;
  /* line-height: 42px; */
}

.began-want p {
  max-width: 448px;
  color: var(--h3-color);
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
}


.began-tell {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 448px;
  color: var(--h3-color);
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
}

/* weroll-section */
.we-roll-section {
  /* display: flex; */
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 120px;
}

.roll-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 0px 210px;
  margin-top: -20px;
  max-width: 1440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.roll-heading {
  color: var(--light-inverted-color-background);
  /* font-size: 2.625rem; */
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  /* font-style: normal; */
  /* font-weight: 800;
  line-height: 72px; */
}

.roll-content p {
  color: var(--who-pg-color-one);
  font-family: Poppins;
  font-family: var(--sec-font);
  font-size: 18px;
  line-height: 30px;
  max-width: 770px;
}

.roll-epic {
  display: flex;
  margin: 0 auto;
  padding: 0px 80px;
  max-width: 1440px;
  flex-direction: column;
  align-items: flex-start;
}

.epic-line {
  height: 2px;
  margin: 0px 120px;
  max-width: 1040px;
  align-self: stretch;
  background: var(--epic-line);
}

.epic-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 42px;
}

.frame div {
  width: 180px;
  height: 180px;
}

.epic-frame p {
  color: var(--epic-frame-color);
  font-size: 1rem;
  font-style: normal;
  max-width: 444px;
  font-family: var(--sec-font);
  /* font-size: 18px; */
  line-height: 30px;
}

.letter {
  width: 80px !important;
  height: 180px !important;
  text-align: center;
  font-size: 120px;
  font-style: italic;
  position: relative;
  font-weight: 700;
  line-height: normal;
}

#one {
  right: 1px;
  bottom: 3px;
  color: #6dc7eb;
  text-shadow: 4px 4px 8px #60a5c1, 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#two {
  left: 99px;
  bottom: 90px;
  color: #ebcb62;
  text-shadow: 4px 4px 8px #c6a846, 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#three {
  right: 1px;
  color: #ffb87d;
  text-shadow: 4px 4px 8px #c49269, 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#four {
  left: 92px;
  color: #eda0a8;
  text-shadow: 4px 4px 8px #c9878e, 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#union1 {
  bottom: 110px;
  right: 1px;
}

#union2 {
  top: 15px;
}

#union3 {
  bottom: 110px;
  right: 1px;
}

#union4 {
  bottom: 160px;
  right: 1px;
}

.frame img {
  position: relative;
}

.rubik {
  width: 250px;

  font-family: Rubik;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

#rubik1 {
  color: #60a5c1;
}

#rubik2 {
  color: #c6a846;
}

#rubik3 {
  color: #c49269;
}

#rubik4 {
  color: #c9878e;
}

/* zepic-section */

.zepic-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--began-bg);
}

.we-are-zepic {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  padding: 64px 80px 248px 80px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.we-heading {
  color: var(--light-inverted-color-background);
  /* font-size: 2.625rem; */
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  font-style: normal;
  /* font-weight: 800;
  line-height: 72px; */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px 26px;
  flex-wrap: wrap;
}

.headshot {
  display: flex;
  flex-direction: column;
  transition: 400ms;
  align-items: flex-start;
  /* width: 240px;
    height: 276px; */
  border-radius: 0px 0px 8px 8px;
}

.headshot:hover {
  transform: translateY(-1.2em);

  cursor: pointer;
  box-shadow: 0px 14px 14px 0px rgba(100, 106, 122, 0.15);
}

.headshot img {
/*   width: 240px; */
  width:auto;
  margin:0 auto;
  height: 180px;
/*   position: relative; */
/*   top: 15px; */
}

.headboard {
  display: flex;
  width: 240px;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
  /* position: relative;
    /* bottom: 18px; 
    bottom: 2px; */
  border: 1px solid var(--line);
  background: var(--background);
  /* box-shadow: 0px 16px 16px 0px var(--began-pg); */
}

.headboard h3 {
  color: var(--headboard);
  /* font-size: 1.25rem; */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.one {
  color: #191919;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.two {
  color: var(--who-pg-color-two);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.zepic-investor {
  display: flex;
  padding: 42px;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  bottom: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  border: 8px solid #fff;
  background: linear-gradient(0deg, #dcedfa 0%, #dcedfa 100%), #fff;
}

.leader {
  color: var(--epic-frame-color);
  text-align: center;
  /* font-size: 2.375rem; */
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  font-style: normal;
  /* font-weight: 600;
  line-height: normal; */
  align-self: stretch;
}

.investor-logo {
  display: flex;
  padding: 12px 16px 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #6dc7eb;
  background: var(--background);
}

.investor-logo img {
  width: 870px;
  height: 60px;
}

footer {
  /* display: flex; */
  width: 100%;
  padding: 32px 80px 64px 80px;
  /* justify-content: space-between;
  align-items: center; */
}

.copy-right {
  display: flex;
  max-width: 1440px;
  /* margin: 0 auto; */
  /* padding-top: 32px;
  padding-left: 80px;
  padding-bottom: 64px; */
  align-items: flex-start;
  gap: 26px;
}

.copy-right a {
  text-decoration: none;
  color: #748bae;
}

.privacy {
  color: #748bae;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  /* font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; */
}

.privacy span {
  color: #cad2de;
  cursor: pointer;
}

.social-media {
  display: flex;
  max-width: 1440px;
  /* margin: 0 auto; */
  /* padding-top: 32px;
  padding-bottom: 64px;
  padding-right: 80px; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.social-media img:hover {
  filter: invert(33%) sepia(120%) saturate(5400%) hue-rotate(238deg) brightness(100%) contrast(100%);
}


.footer {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
